<a href="/crear-cuenta"
  class="group btn relative isolation-auto z-10 mx-auto inline-flex items-center justify-center gap-3 overflow-hidden rounded-full border border-[#01162E]/80 bg-[#01162E] px-5 py-2.5 font-nunito text-base font-semibold text-gray-50 backdrop-blur-sm transition-all duration-500 ease-in-out btn-xl before:absolute before:inset-0 before:-z-10 before:-translate-x-full before:rounded-full before:bg-[#009040] before:transition-transform before:duration-500 before:ease-in-out hover:border-[#009040] hover:bg-[#009040] hover:text-gray-50 hover:before:translate-x-0"
>
  Registrarse
  <span
    class="flex h-10 w-10 items-center justify-center rounded-full border-2 bg-white shadow-inner transition-all duration-500 ease-in-out group-hover:animate-shake group-hover:border-[#01162E] group-hover:bg-[#01162E] group-hover:shadow-lg group-hover:animate-duration-300"
  >
    <span
      class="icon-[uil--arrow-right] text-[30px] text-[#009040] transition-colors duration-500 ease-in-out group-hover:text-gray-50"
    ></span>
  </span>
</a>
