<header
  class="fixed top-0 left-0 z-[9999] flex w-full justify-around bg-white p-8 shadow-md dark:bg-[#0b0b0b]"
>
  <img src="images/imagotipo/imagotipo_simulabank.svg" class="h-auto w-90" alt="SimulaBank" />
  <nav class="flex items-center gap-10 font-nunito">
    <a
      class="btn rounded-[10px] border-black bg-[#003169] text-white !transition-none"
      routerLink="/"
      ><span class="icon-[clarity--home-line] text-[25px]"></span
    ></a>
    <a
      routerLink="/iniciar-sesion"
      class="btn rounded-[10px] px-4 btn-outline hover:border-[#016b31] hover:bg-[#009040] hover:text-white"
      >Iniciar Sesión</a
    >
    <a class="btn rounded-[10px] border-black bg-[#01162E] px-6 text-white">Registrarse</a>
  </nav>
</header>
