<div class="drawer overflow-visible lg:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" checked />

  <div class="drawer-content flex flex-col overflow-visible">
    <app-header-plataforma>
      <div class="p-2 lg:hidden">
        <label for="my-drawer" class="drawer-button btn btn-circle btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
      </div>
    </app-header-plataforma>

    <div class="flex flex-1 items-center justify-center bg-[#F9F9FA]">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="drawer-side overflow-visible">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

    <div
      class="group/sidebar flex h-full flex-col items-start overflow-visible border-r-2 border-r-[#E7E9EB] bg-white is-drawer-close:w-17 is-drawer-open:w-64 is-drawer-open:transition-all is-drawer-open:duration-150"
    >
      <div
        class="scrollbar-thin flex h-full w-full flex-col items-start overflow-x-hidden scrollbar-corner-black scrollbar-thumb-green-600 scrollbar-track-gray-200 is-drawer-close:overflow-y-auto is-drawer-open:overflow-y-auto"
      >
        <div
          class="group z-1500 flex h-[65px] w-full shrink-0 items-center border-b-2 border-b-[#E7E9EB] bg-white pt-2 pb-2 pl-[15px] text-[#566577] transition-colors duration-200 is-drawer-open:justify-start"
        >
          <!-- Contenedor relativo para el isotipo y el botón -->
          <div class="relative h-[40px] w-[36px]">
            <img
              src="images/isotipo/isotipo_simulabank_sidebar.svg"
              class="h-[40px] w-[36px] transition-opacity duration-200 lg:is-drawer-close:group-hover/sidebar:opacity-0"
              alt="Isotipo SimulaBank"
            />

            <div
              class="pointer-events-none absolute top-0 left-0 w-[36px] opacity-0 transition-opacity duration-200 lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right lg:is-drawer-close:group-hover/sidebar:pointer-events-auto lg:is-drawer-close:group-hover/sidebar:opacity-100"
              data-tip="Mostrar barra lateral"
            >
              <label for="my-drawer" class="drawer-button btn btn-circle w-full btn-ghost">
                <span class="icon-[hugeicons--sidebar-left-01] text-2xl"></span>
              </label>
            </div>
          </div>

          <img
            src="images/imagotipo/imagotipo_simulabank_sidebar.svg"
            class="h-[15px] pl-[8px] is-drawer-close:hidden"
            alt="Imagotipo SimulaBank"
          />

          <div
            class="ml-auto is-drawer-close:hidden lg:is-drawer-open:tooltip lg:is-drawer-open:tooltip-right"
            data-tip="Ocultar barra lateral"
          >
            <label for="my-drawer" class="drawer-button btn btn-circle btn-ghost">
              <span class="icon-[hugeicons--sidebar-left-01] text-2xl"></span>
            </label>
          </div>
        </div>
        <!-- overflow-x-hidden is-drawer-close:overflow-y-auto is-drawer-open:overflow-y-auto -->
        <div class="w-full flex-1">
          <ul class="nunito-sans-body menu w-full">
            <li>
              <button
                class="group flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
                data-tip="Inicio"
              >
                <span
                  class="icon-[hugeicons--home-12] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
                ></span>
                <span
                  class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
                >
                  Inicio
                </span>
              </button>
            </li>

            <li>
              <button
                class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
                data-tip="Simulación"
              >
                <span
                  class="icon-[hugeicons--vr-glasses] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
                ></span>
                <span
                  class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
                >
                  Simulación
                </span>
              </button>
            </li>
            <li>
              <button
                class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
                data-tip="Mi Personal"
              >
                <span
                  class="icon-[hugeicons--user-03] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
                ></span>
                <span
                  class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
                >
                  Mi Personal
                </span>
              </button>
            </li>
            <li>
              <button
                class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
                data-tip="Mi Sala"
              >
                <span
                  class="icon-[hugeicons--user-group-03] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
                ></span>
                <span
                  class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
                >
                  Mi Sala
                </span>
              </button>
            </li>
            <li>
              <button
                class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
                data-tip="Políticas"
              >
                <span
                  class="icon-[hugeicons--bank] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
                ></span>
                <span
                  class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
                >
                  Políticas
                </span>
              </button>
            </li>
            <li>
              <button
                class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
                data-tip="Información"
              >
                <span
                  class="icon-[hugeicons--document-validation] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
                ></span>
                <span
                  class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
                >
                  Información
                </span>
              </button>
            </li>
            <li>
              <button
                class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
                data-tip="Mis Logros"
              >
                <span
                  class="icon-[hugeicons--award-01] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
                ></span>
                <span
                  class="duration-20rows-2 ml-2 w-max animate-fade-right transition-colors animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
                >
                  Mis Logros
                </span>
              </button>
            </li>
          </ul>
        </div>

        <ul class="nunito-sans-body menu w-full shrink-0 border-t-2 border-t-[#E7E9EB] bg-white">
          <div class="relative bg-white">
            <div class="group flex h-18 w-full items-center justify-start bg-white">
              <div class="avatar ml-[5px]">
                <div class="w-[40px] rounded-full">
                  <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
                </div>
              </div>
              <span
                class="ml-4 w-full animate-fade-right animate-duration-150 is-drawer-close:hidden"
              >
                <p
                  class="max-w-[130px] truncate font-bold text-[#566577]"
                  title="Juan David Avila Gutierrez"
                >
                  Juan David Avila Gutierrez
                </p>
                <span class="badge bg-[#10b95c] font-bold text-white">Aprendiz</span>
              </span>
            </div>
          </div>
          <li>
            <button
              (click)="toggleTheme()"
              class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
              [attr.data-tip]="currentTheme === 'light' ? 'Modo Claro' : 'Modo Oscuro'"
            >
              <span
                *ngIf="currentTheme === 'light'"
                class="icon-[hugeicons--sun-03] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
              ></span>
              <span
                *ngIf="currentTheme === 'dark'"
                class="icon-[hugeicons--moon-02] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
              ></span>
              <span
                class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
              >
                {{ currentTheme === 'light' ? 'Modo Claro' : 'Modo Oscuro' }}
              </span>
            </button>
          </li>
          <li>
            <button
              class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
              data-tip="Configuración"
            >
              <span
                class="icon-[hugeicons--settings-01] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
              ></span>
              <span
                class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
              >
                Configuración
              </span>
            </button>
          </li>
          <li>
            <button
              class="group z-1000 flex h-12 items-center text-[#566577] transition-colors duration-200 hover:bg-[#EEF2FF] active:bg-[#E5E9FF] lg:is-drawer-close:tooltip lg:is-drawer-close:tooltip-right"
              data-tip="Cerrar sesión"
            >
              <span
                class="icon-[hugeicons--logout-square-01] text-2xl transition-colors duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3]"
              ></span>
              <span
                class="ml-2 w-max animate-fade-right transition-colors duration-200 animate-duration-200 group-hover:text-[#4F46E5] group-active:text-[#3730A3] is-drawer-close:hidden"
              >
                Cerrar sesión
              </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
