<footer
  class="nunito-sans-body flex flex-col items-center gap-[15px] bg-[#252641] pt-[32px] pb-[32px] text-white"
>
  <div class="flex items-center gap-8 pb-[15px]">
    <img src="images/imagotipo/imagotipo_simulabank_claro.svg" class="h-auto w-[250px]" alt="" />
    <div class="nunito-sans-title text-[20px]">
      <p>Simulador de</p>
      <p>Asesoría Bancaria</p>
    </div>
  </div>
  <div class="flex items-center gap-4 text-[#7b7c97]">
    <a href="" class="link link-hover">Política de privacidad</a>
    <hr class="h-[20px] border-1 text-[#7b7c97]" />
    <a href="" class="link link-hover">Términos y condiciones</a>
  </div>
  <div>
    <p class="text-[#7b7c97]">&copy; 2025 SimulaBank. Sebastian Marin - Juan David Avila</p>
  </div>
</footer>
