<footer
  class="nunito-sans-body flex flex-col items-center gap-4 bg-[#252641] pt-8 pb-8 text-white"
>
  <div class="flex flex-col sm:flex-row items-center sm:gap-8 gap-2 pb-4 text-center sm:text-left">
    <img src="images/imagotipo/imagotipo_simulabank_claro.svg" class="h-auto w-[180px] sm:w-[250px] mb-2 sm:mb-0" alt="" />
    <div class="nunito-sans-title text-[18px] sm:text-[20px]">
      <p>Simulador de</p>
      <p>Asesoría Bancaria</p>
    </div>
  </div>
  <div class="flex flex-col sm:flex-row items-center justify-center gap-2 sm:gap-4 text-[#7b7c97] mb-2">
    <a routerLink="/politicas-privacidad" class="link link-hover">Política de privacidad</a>
    <hr class="hidden sm:inline-block h-5 border border-[#7b7c97]" />
    <a routerLink="/terminos-condiciones" class="link link-hover">Términos y condiciones</a>
  </div>
  <div>
    <p class="text-[#7b7c97] text-center text-xs sm:text-base">&copy; 2025 SimulaBank. Sebastian Marin - Juan David Avila</p>
  </div>
</footer>
